@import "tailwindcss";

@theme inline {
  --font-gotham: var(--font-gotham)
}

html { scroll-behavior: smooth; }

.marquee {
  animation: marquee-scroll 20s linear infinite;
}

.pause-animation {
  animation-play-state: paused;
}

.marquee:hover {
  animation-play-state: paused;
}

@keyframes marquee-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc((-100% - 24px)));
  }
}